{% extends "accounts/auth_base.html" %}

{% block title %}Registrazione - Task Manager{% endblock %}

{% block form_fields %}
    {% include 'accounts/form_field.html' with field=form.username label="Username" %}
    {% include 'accounts/form_field.html' with field=form.password1 label="Password" %}
    {% include 'accounts/form_field.html' with field=form.password2 label="Conferma Password" %}
{% endblock %}

{% block auth_links %}
    <p>Hai già un account? <a href="{% url 'accounts:login' %}">Accedi</a></p>
{% endblock %}